{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">
  <title>{% block title %}twitter home{% endblock %}</title>
</head>
<body>
  <header>
    <nav class="header-inner">
      <a href="" class="logo-title">Twitter</a>
      <div class="header-menu">
        {% if user.is_authenticated %}
        <ul class="header-menu-list">
          <li><a class="header-item" href="">ユーザー情報</a></li>
          <li><a class="header-item" href="{% url 'logout' %}">ログアウト</a></li>
        </ul>
        {% else %}
        <ul class="header-menu-list">
          <li><a class="header-item" href="{% url 'login' %}">ログイン</a></li>
          <li><a class="header-item" href="{% url 'twitter:create' %}">ユーザー登録</a></li>
        </ul>
        {% endif %}
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
