{% extends 'twitter/app_base.html' %}

{% block content %}
<div class="home-content">
  <div class="container">
    <div class="row">
      <div class="col-6 tweet-list">
        <h4>ツイート</h4>
        {% for tweet in tweets %}
          <div class="post">
            <div class="user"><a href="#"><span>{{tweet.user}}</span></a></div>
            <p>{{ tweet.text }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="tweet-form col-6">
        <form method="POST" action="{% url 'twitter:tweet' %}">
          {% csrf_token %}
          {{form.as_p}}
          <input class="tweet-btn" type="submit" value="ツイート">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
