{% extends 'twitter/app_base.html' %}
{% load my_filter %}

{% block content %}
<div class="home-content">
  <div class="container">
    <div class="row">
      <div class="col-6 tweet-list">
        <h4>ツイート</h4>
        <h4>ログイン中のユーザー：　{{user}}</h4>
        {% for tweet in tweets %}
          <div class="post">
            <div class="user"><a href={% url 'twitter:profile' tweet.user.id %}><span>{{tweet.user}}</span></a></div>
            <p>{{ tweet.text }}</p>
            <div class="btn-right">
              {% if check == False %}
                <a href="{% url 'twitter:like' tweet.id %}" class="prev-like-btn"><i class="far fa-heart"></i><span class="like-num">a{{tweet.like}}</span></a>
              {% else %}
                  {% if likes|is_any_userdata_exists:user and likes|is_any_tweetdata_exists:tweet %}
                    <a href="{% url 'twitter:like' tweet.id %}" class="like-btn"><i class="fas fa-heart"></i><span class="like-num">b{{tweet.like}}</span></a>
                  {% else %}
                    <a href="{% url 'twitter:like' tweet.id %}" class="prev-like-btn"><i class="far fa-heart"></i><span class="like-num">c{{tweet.like}}</span></a>
                  {% endif %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="tweet-form col-6">
        <form method="POST" action="{% url 'twitter:tweet' %}">
          {% csrf_token %}
          {{form.as_p}}
          <input class="tweet-btn" type="submit" value="ツイート">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
