body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

li {
  list-style: none;
}

a,a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

/* 登録、ログイン・ログアウト　等 */
.signup-content,
.login-content,
.loggedout-content {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 55, 88);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}

.signup-content .signup-title,
.login-content .login-title,
.loggedout-content .loggedout-title {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.signup-content .create-account-btn-lg,
.signup-content .login-btn-lg,
.loggedout-content .create-account-btn-lg,
.loggedout-content .login-btn-lg {
  width: 200px;
  line-height: 50px;
  border-radius: 30px;
  margin: 20px 0;
  display: block;
  text-align: center;
  font-weight: 600;
  transition: 0.5s;
}

.signup-content .create-account-btn-lg,
.loggedout-content .create-account-btn-lg {
  background-color: rgb(29, 161, 242);
  color: rgb(255, 255, 255);
}

.signup-content .create-account-btn-lg:hover,
.loggedout-content .create-account-btn-lg:hover {
  background-color: rgba(29, 161, 242, 0.8);
}

.signup-content .login-btn-lg,
.loggedout-content .login-btn-lg {
  color: rgb(29, 161, 242);
  border: rgb(29, 161, 242) solid 1px;
}

.signup-content .login-btn-lg:hover,
.loggedout-content .login-btn-lg:hover {
  background-color: rgb(28, 67, 92);
}

.signup-content form,
.login-content form,
.signup-content table {
  color: rgb(255, 255, 255);
}

.signup-content .button-center,
.login-content .button-center {
  text-align: center;
}

.button-row {
  display: flex;
}

.signup-content .confirm-btn,
.login-content .login-btn,
.signup-content .back-btn,
.signup-content .regist-btn {
  margin: 10px 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 55, 88);
  cursor: pointer;
  transition: 0.5s;
}

.signup-content .confirm:hover,
.login-content .login-btn:hover,
.signup-content .back:hover,
.signup-content .regist:hover {
  transform: scale(1.1, 1.1);
}

/* ホーム */
.header-inner {
  background-color: rgb(11, 108, 168);
  display: flex;
  padding: 0 40px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

header .logo-title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 500;
}

.header-menu {
  display: flex;
  line-height: 50px;
}

.header-menu .header-menu-list {
  display: flex;
  margin: 0;
}

.header-menu .header-menu-list .header-item {
  display: block;
  color: rgb(255, 255, 255);
  padding: 10px;
  transition: 0.5s;
}

.header-menu .header-item:hover {
  background-color: rgb(38, 131, 189);
}

.home-content {
  height: 100%;
  background-color: rgb(0, 55, 88);
  color: rgb(255, 255, 255);
}

.home-content .row {
  justify-content: center;
}

.home-content .tweet-list,
.home-content .user-list,
.home-content .user-profile {
  height: 100vh;
  padding: 4px;
  justify-content: center;
}

.home-content .tweet-list {
  margin-bottom: 400px;
}

.home-content .tweet-list h4 {
  padding: 10px;
}

.home-content .tweet-list .post p {
  margin: 8px 0 0;
}

.home-content .tweet-list .post {
  background-color: rgb(66, 148, 199);
  border: 2px solid black;
  border-radius: 30px;
  margin: 5px 0;
  padding: 10px;
}

.home-content .tweet-list .post .user {
  width: 100%;
  height: 100%;
}

.home-content .tweet-list .post .user a {
  color: white;
}

.home-content .tweet-list .post .user a span {
  background-color: rgb(26, 95, 224);
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 20px;
}


.home-content .tweet-form {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(66, 148, 199);
  border: black 5px solid;
  border-radius: 20px;
  height: 200px;
  width: 100%;
  position: fixed;
  bottom: 5px;
  z-index: 2;
}

.home-content .tweet-form form {
  width: 100%;
  position: relative;
}

.home-content .tweet-form .errorlist,
.home-content .tweet-form form p label,
.home-content .tweet-form form input + p {
  display: none;
}

.home-content .tweet-form form p,
.home-content .tweet-form form input {
  margin: 0;
}

.home-content .tweet-form form p {
  height: 100%;
  margin: 8px 0
}

.home-content .tweet-form p textarea {
  width: 100%;
}

.home-content .tweet-form form .tweet-btn {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  margin-bottom: 8px;
}

/* プロフィール画面 */

.home-content .user-profile {
  margin: 12px;
  position: relative;
}

.home-content .user-profile .user-title {
  margin-bottom: 40px;
}

.home-content .user-profile .btn {
  float: right;
}

.home-content .user-profile .follower-content {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 250px;
}

.home-content .user-profile .followee-content {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 500px;
}

.home-content .user-profile .follower-content .follower-num,
.home-content .user-profile .followee-content .followee-num {
  color: rgb(66, 148, 199);
  margin-left: 12px;
}

.home-content .user-profile .follower-content .scrollable,
.home-content .user-profile .followee-content .scrollable {
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.home-content .user-profile .follower-content .scrollable::-webkit-scrollbar,
.home-content .user-profile .followee-content .scrollable::-webkit-scrollbar {
  width: 8px;
}

.home-content .user-profile .follower-content .scrollable::-webkit-scrollbar-track,
.home-content .user-profile .followee-content .scrollable::-webkit-scrollbar-track {
  background: rgba(#fff,0.1);
  border: none;
}

.home-content .user-profile .follower-content .scrollable::-webkit-scrollbar-thumb,
.home-content .user-profile .followee-content .scrollable::-webkit-scrollbar-thumb {
  background: rgba(#fff,0.1);
  border-radius: 8px;
  box-shadow: inset 0 0 4px rgba(255,255,255,0.8);
}

.home-content .user-profile .follower-content .follower-members,
.home-content .user-profile .followee-content .followee-members {
  padding: 0;
}

.home-content .user-profile .follower-content .follower-member,
.home-content .user-profile .followee-content .followee-member {
  border: black 2px solid;
  border-top: none;
  margin: 0 12px;
  padding: 8px;
  background-color: rgb(66, 148, 199);
}

.home-content .user-profile .follower-content .follower-member:first-child,
.home-content .user-profile .followee-content .followee-member:first-child {
  border: black 2px solid;
}
