{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'twitter/style.css' %}">
  <title>ログアウト画面</title>
</head>
<body>
  <div class="loggedout-content">
    <h1 class="loggedout-title">ログアウトしました</h1>
    <a href="{% url 'twitter:input' %}" class="create-account-btn-lg">アカウント作成</a>
  <a href="{% url 'login' %}" class="login-btn-lg">ログイン</a>
  </div>
</body>
</html>
